.carousel {
    margin-top: 20px;
    padding: 20px;
}

.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item img {
    width: 100%;  
    max-width: 90%;  
    height: auto;
    border-radius: 8px;
}

.carousel-section h2 {
    margin-bottom: 10px;
}
